In [6]:
import pandas as pd
import os

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, f1_score

In [10]:
# import training and validating dataset
training_df = pd.read_csv(os.path.join(os.path.abspath(""), '../datasets/merged/training_dataset.csv'))
val_df = pd.read_csv(os.path.join(os.path.abspath(""), '../datasets/merged/validate_dataset.csv'))

In [11]:
training_df.head()

,Unnamed: 0,Date_ID,Crop_ID,Climate_ID,Region_ID,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,...,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region,Total_Value
0,916,88,6,533,5,5,31,2,2008,1,...,True,False,False,False,False,False,True,False,False,1
1,6020,32,5,193,12,9,30,3,2003,0,...,False,False,False,False,False,False,False,True,False,1
2,7816,35,4,210,13,12,31,4,2003,0,...,False,False,False,False,False,True,False,False,False,1
3,4690,94,6,566,11,11,30,4,2008,1,...,False,True,False,False,False,False,False,True,False,2
4,4934,62,4,374,10,3,31,1,2006,0,...,False,True,False,False,False,False,False,True,False,1

In [13]:
X_train = training_df.drop('Total_Value',axis=1)
X_train.head()

,Unnamed: 0,Date_ID,Crop_ID,Climate_ID,Region_ID,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,916,88,6,533,5,5,31,2,2008,1,...,False,True,False,False,False,False,False,True,False,False
1,6020,32,5,193,12,9,30,3,2003,0,...,False,False,False,False,False,False,False,False,True,False
2,7816,35,4,210,13,12,31,4,2003,0,...,False,False,False,False,False,False,True,False,False,False
3,4690,94,6,566,11,11,30,4,2008,1,...,False,False,True,False,False,False,False,False,True,False
4,4934,62,4,374,10,3,31,1,2006,0,...,False,False,True,False,False,False,False,False,True,False

In [16]:
y_train = training_df['Total_Value']
y_train.head()

0    1
1    1
2    1
3    2
4    1
Name: Total_Value, dtype: int64

In [15]:
X_val = val_df.drop('Total_Value',axis=1)
y_val = val_df['Total_Value']

In [18]:
X_val.head()

,Unnamed: 0,Date_ID,Crop_ID,Climate_ID,Region_ID,Month,NumberOfDaysInMonth,Quarter,Year,LeapYear,...,Prince Edward Island,Quebec,Saskatchewan,Territories,Yukon,Atlantic_Region,British Columbia_Region,Canada_Region,Prairies_Region,Territories_Region
0,1485,105,3,634,7,10,31,4,2009,0,...,False,False,False,False,False,False,False,True,False,False
1,2461,85,3,513,8,2,29,1,2008,1,...,False,False,False,False,False,False,False,False,True,False
2,1345,241,2,1450,7,2,28,1,2021,0,...,False,False,False,False,False,False,False,True,False,False
3,2838,186,5,1119,8,7,31,3,2016,1,...,False,False,False,False,False,False,False,False,True,False
4,6754,215,4,1291,12,12,31,4,2018,0,...,False,False,False,False,False,False,False,False,True,False

In [17]:
y_val.head()

0    1
1    1
2    1
3    1
4    1
Name: Total_Value, dtype: int64

In [23]:
def compute_metrics(labels,predictions):

  correct = 0
  for i in range(len(labels)):
    if labels[i] == predictions[i]:
      correct += 1
  print(f"Number of labels that were correctly labelled: {correct}")
  print(f"Accuracy: {correct/len(labels)}")

  precision = precision_score(labels, predictions, average='weighted')
  recall = recall_score(labels, predictions, average='weighted')
  f1 = f1_score(labels, predictions, average='weighted')

  return precision, recall, f1

In [21]:
classifier = RandomForestClassifier(n_estimators = 1000,random_state = 42,criterion='gini',max_depth=25)
classifier.fit(X_train, y_train)

print("TRAINED")
y_pred = classifier.predict(X_val)
print("TESTED")

print(confusion_matrix(y_val, y_pred))
print(classification_report(y_val, y_pred))

TRAINED
TESTED
[[1057   10    0    0    0    0    0    0    0]
 [  19   44    8    1    0    0    0    0    0]
 [   0   12   12    5    0    0    0    0    0]
 [   0    4    3    6    0    0    0    0    0]
 [   0    0    3    2    1    0    1    0    0]
 [   0    1    1    1    1    1    0    0    0]
 [   0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    1    0    0]
 [   0    0    0    0    0    0    0    0    1]]
              precision    recall  f1-score   support

           1       0.98      0.99      0.99      1067
           2       0.62      0.61      0.62        72
           3       0.44      0.41      0.43        29
           4       0.40      0.46      0.43        13
           5       0.50      0.14      0.22         7
           6       1.00      0.20      0.33         5
           7       0.00      0.00      0.00         0
           8       0.00      0.00      0.00         1
           9       1.00      1.00      1.00         1

    accuracy                           0.94      1195
   macro avg       0.55      0.42      0.45      1195
weighted avg       0.94      0.94      0.94      1195

c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [25]:
precision, recall, f1 = compute_metrics(y_val, y_pred)
print("PRECISION: " + str(precision))
print("RECALL: " + str(recall))
print("F1: " + str(f1))
print("Gmean: " + str(gmean))

Number of labels that were correctly labelled: 1122
Accuracy: 0.9389121338912134
PRECISION: 0.9375460494827059
RECALL: 0.9389121338912134
F1: 0.936477665665427

c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\daniel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

NameError: name 'gmean' is not defined